*.iml
.gradle
FuelPrice/local.properties
FuelPrice/.idea/caches
FuelPrice/.idea/libraries
FuelPrice/.idea/modules.xml
FuelPrice/.idea/workspace.xml
FuelPrice/.idea/navEditor.xml
FuelPrice/.idea/assetWizardSettings.xml
.DS_Store
FuelPrice/build
FuelPrice/captures
.externalNativeBuild
FuelPrice/.idea/workspace.xml
