<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsp.fuelprice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CadHistorico"
            android:label="@string/title_activity_historico"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TelaInicial"
            android:label="@string/title_activity_tela_inicial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadPreco"
            android:label="@string/title_activity_cad_preco"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadPosto"
            android:label="@string/title_activity_cad_posto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadVeiculo"
            android:label="@string/title_activity_cad_veiculo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadUsuario"
            android:label="@string/title_activity_novo_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>